{{ 'section-subscribeandsave.css' | asset_url | stylesheet_tag }}

<div class="section-subscribeandsave">

    {%- if section.settings.image != blank -%}
        <div class="subscribeandsave__image">
            <img 
                src="{{ section.settings.image | img_url: '750x' }}"
                loading="lazy"
                alt="{{ section.settings.image.alt | escape }}"
                width="{{ section.settings.image.width }}"
                height="{{ section.settings.image.width | divided_by: section.settings.image.aspect_ratio }}"
            >
        </div>

    {%- endif -%}

  
    <div class="subscribeandsave__content">
        <h2>Header</h2>
        <p>Paragraph text</p>
        <p>Form goes here</p>
    </div>
  
</div>

{% schema %}
{
    "name": "t:sections.subscribe-and-save.name",
    "tag": "section",
    "class": "spaced-section spaced-section--full-width",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "t:sections.subscribe-and-save.settings.image.label"
      }
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "t:sections.subscribe-and-save.blocks.heading.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heading",
            "default": "Hero Area",
            "label": "t:sections.hero-area.blocks.heading.settings.heading.label"
          }
        ]
      },
      {
        "type": "text",
        "name": "t:sections.subscribe-and-save.blocks.text.name",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "text",
            "default": "Give customers details about the banner image or content on the template.",
            "label": "t:sections.hero-area.blocks.text.settings.text.label"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "t:sections.subscribe-and-save.presets.name",
        "blocks": [
          {
            "type": "heading"
          },
          {
            "type": "text"
          },
          {
            "type": "buttons"
          }
        ]
      }
    ]
  }
{% endschema %}